@media screen and (min-width: 768px) {

    header {
        width: 100%;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    #menu-button {
        display: none;
    }

    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav a {
        border-top: none;
        border-right: 1px solid #555;
    }

    nav li:last-child a {
        border-right: none;
    }

    .top-row {
        grid-template-columns: 2fr 1fr;
    }

    #course-container {
        grid-template-columns: repeat(3, 1fr);
    }
}